ion-content {
  --background: #202020;
}
ion-list {
  padding: 4vw;
  --background: transparent;
  background: transparent;

  ion-item {
    align-items: flex-start;
    --background: #000000;
    --border-radius: 4px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --min-height: 120px;
    height: 100px;
    margin: 16px 0;

    ion-img {
      width: 75px;
      height: 100px;
      object-fit: fill;
      margin: 0;
    }

    .description {
      padding: 8px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 12px;
        border: solid 1px white;
        border-radius: 50px;
        padding: 2px 8px;
        font-weight: 600;

      }

      .chapter {
        font-size: 14px;
        margin-top: 8px;
        font-weight: 600;
      }

      ion-button {
        --border-radius: 4px;
        --background: #ffd400;
        --color: black;
        font-size: 10px;
        margin-top: 12px;
        padding: 0;
        font-weight: 600;
      }
    }

    ion-label {
      font-weight: bold;
      overflow-wrap: break-word;
      text-overflow: initial;
      white-space: normal;

      .list-chapter {
        margin-top: 16px;

        .chapter-item {

          margin-bottom: 10px;
          margin-right: 15px;

          .chapter {
            color: purple;
            background-color: #ebebeb;
            padding: 4px 10px;
            border-radius: 10px;
            font-weight: 600;
            display: inline-block;
            margin-right: 26px;
            vertical-align: middle;

          }
        }

      }

    }

    .button-container {
      display: flex;
      height: 100px;
      .button-validate {
        --border-radius: 100%;
        --background: white;
        height: 40px;
        width: 40px;
        margin: auto;
        ion-icon {
          color: grey;
        }
      }
    }
    
  }

}