<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list *ngFor="let manga of mangas; let mangaIndex = index ">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="manga.image">
      </ion-avatar>
      <ion-label>{{manga.title}}
        <div class="list-chapter" *ngFor="let release of manga.release.reverse(); let releaseIndex = index">
          <div class="chapter-item" (click)="onChapter(mangaIndex, releaseIndex)">
            <span class="chapter">{{ release.chapter }}</span>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-list *ngIf="mangas">
    <ion-item >
      <ion-label>{{ manga.title }}</ion-label>
      <ion-list *ngIf="manga.release">
        <ion-label *ngFor="let release of manga.release">{{release.chapter}}</ion-label>
      </ion-list>
    </ion-item>
   </ion-list> -->


</ion-content>