<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Manga Checker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list >
    <ion-item *ngFor="let manga of mangaService.mangaListNews; let mangaIndex = index " (click)="onChapter(manga.title, manga.release[0].chapter)">

      <ion-img slot="start" [src]="manga.image"></ion-img>
      <div class="description">
        <ion-text class="title">{{manga.title}}</ion-text>
        <ion-text class="chapter">{{manga.release[0].chapter}}</ion-text>
        <ion-button>NOUVEAU</ion-button>
        
      </div>
      <div class="button-container" slot="end">
        <ion-button class="button-validate" slot="end">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </div>
      

    </ion-item>
  </ion-list>



  <!-- <ion-list *ngIf="mangas">
    <ion-item >
      <ion-label>{{ manga.title }}</ion-label>
      <ion-list *ngIf="manga.release">
        <ion-label *ngFor="let release of manga.release">{{release.chapter}}</ion-label>
      </ion-list>
    </ion-item>
   </ion-list> -->


</ion-content>